@charset "IBM437";
/* ------ Layout ------ */
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.wrapper {
  background: url("../images/wrapper-bg.png") repeat-x;
  width: 100%; }

img {
  outline: 1px solid #c0c0c0; }

/* Clearfix Mixin 
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
*/
/* main navigation 4 buttons */
.nav-buttons {
  text-align: center;
  padding: 4%;
  font-size: 1.2em;
  color: #fff; }

.selected {
  background-color: #dadada;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 0;
  border-top: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
  text-align: center;
  padding: 4%;
  font-size: 1.2em;
  color: #171a1c; }

.amnesia-fortnight {
  background: url("../images/amnesia.svg");
  background-size: 45px 20px;
  background-repeat: no-repeat;
  padding-left: 30px; }

#logo {
  height: 49px;
  width: 318px;
  background: url("../images/logo.svg") no-repeat;
  margin: 20px 0 20px 0; }

.charity {
  background: url("../images/charity/icons.png");
  right: 0;
  height: 84px;
  width: 474px;
  top: 10px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 0; }
  .charity .charity-title {
    margin-left: 10px;
    width: 89px;
    float: left;
    font-size: .7em;
    color: #7A7777;
    text-align: center;
    margin-top: 57px; }
    .charity .charity-title:first-child {
      margin-left: 0px;
      width: 91px; }
    .charity .charity-title:last-child {
      width: 66px; }

.gray {
  background: #404040;
  width: 100%;
  padding-top: 5px; }

#main-navigation h1 {
  color: #fff;
  font-weight: bold;
  font-size: .9em;
  float: left;
  margin: 10px 10px 0 0;
  background: url("../images/humble-small-logo.svg") no-repeat;
  padding: 5px 0 0 40px;
  height: 33px; }
#main-navigation ul {
  float: left; }
  #main-navigation ul li {
    list-style: none;
    display: inline;
    margin-right: 10px; }
#main-navigation .facebook {
  background: url("../images/social/facebook.svg") no-repeat;
  padding: 10px 0 0 33px; }
#main-navigation .twitter {
  background: url("../images/social/twitter.svg") no-repeat;
  padding: 10px 0 0 33px; }
#main-navigation .google {
  background: url("../images/social/google.svg") no-repeat;
  padding: 10px 0 0 33px; }

#main-sub-menu ul {
  float: left; }
  #main-sub-menu ul li {
    list-style: none;
    display: inline;
    margin-right: 10px; }
#main-sub-menu a {
  color: #fff;
  font-weight: bold;
  font-size: .8em;
  text-decoration: none;
  padding-top: -2px; }
#main-sub-menu .blog {
  background: url("../images/blog.svg") no-repeat center left;
  padding: 0px 0 0 15px; }
#main-sub-menu .support {
  background: url("../images/info.svg") no-repeat center left;
  padding: 0px 0 0 15px; }
#main-sub-menu .login {
  background: url("../images/login.svg") no-repeat center left;
  padding: 0px 0 0 15px; }

.black {
  background: #171a1c;
  overflow: hidden;
  padding: 1% 1% 0 1%;
  width: 100%; }

.gray-line {
  margin: 10px 0 10px 0;
  background: #c0c0c0;
  padding: 1%;
  overflow: hidden; }

.no-margin {
  margin: 0px; }

.col-container {
  zoom: 1;
  /* outline: 1px solid red; */
  margin: 0 auto; }

.col-container:before, .col-container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.col-container:after {
  clear: both; }

@media (min-width: 320px) {
  .col-container {
    width: 320px; } }
@media (min-width: 640px) {
  .col-container {
    width: 640px; } }
@media (min-width: 980px) {
  .col-container {
    width: 950px; } }
@media (min-width: 1024px) {
  .col-container {
    width: 950px; } }
.col {
  margin: 6px 0 7px 0; }

.col-1 {
  width: 100%;
  float: left; }

.col-2 {
  float: left;
  width: 50%; }

.col-2-70-30 {
  float: left;
  width: 32%; }
  .col-2-70-30:first-child {
    width: 68%; }

.col-2-30-70 {
  float: left;
  width: 30%; }
  .col-2-30-70:last-child {
    width: 70%; }

.col-3 {
  float: left;
  width: 32%;
  text-align: center;
  margin-right: 19px; }
  .col-3:last-child {
    margin-right: 0px; }

.col-4 {
  width: 25%;
  float: left; }

.three-charity {
  background: #fff;
  text-align: center; }

.three-charity-border li {
  margin-right: 0.5em;
  display: inline;
  font: .9em "source-sans-pro","Helvetica Neue",sans-serif;
  color: #aaa; }
  .three-charity-border li:before {
    content: " ";
    display: table;
    color: #aaa;
    content: '|';
    margin: 0 5px 0 0;
    display: inline-block;
    -webkit-transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    font: .875em "source-sans-pro","Helvetica Neue",sans-serif;
    font-weight: bold; }
.three-charity-border li:first-child:before {
  content: " ";
  display: table; }
.three-charity-border a {
  color: #000;
  text-decoration: underline; }
.three-charity-border a:hover {
  color: #000;
  text-decoration: underline; }

/* this line is for game listing, thumb nail,
title, price, platform */
.game-line {
  width: 100%;
  float: left; }
  .game-line .thumb {
    float: left;
    width: 11%;
    margin-right: 1%; }
  .game-line .info {
    float: left;
    width: 83.5%;
    background: #eeeeee;
    padding: 2.1%;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .game-line .title {
    float: left;
    font-weight: normal;
    font-size: 1.8em;
    width: 58.5%; }
  .game-line .price {
    white-space: nowrap;
    display: block;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    float: right;
    padding: 4px;
    background: green;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    width: 90px;
    height: 20px;
    text-align: right;
    padding: 6px 7px;
    white-space: nowrap;
    background: #690;
    background: -moz-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88cc00), color-stop(100%, #446600));
    background: -webkit-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -o-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -ms-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: linear-gradient(top, #88cc00 0%, #446600 100%); }
  .game-line .addToCart {
    white-space: nowrap;
    display: none;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    float: right;
    padding: 4px;
    background: green;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    width: 100px;
    height: 20px;
    text-align: center;
    padding: 6px 7px;
    white-space: nowrap;
    background: #690;
    background: -moz-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88cc00), color-stop(100%, #446600));
    background: -webkit-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -o-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -ms-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: linear-gradient(top, #88cc00 0%, #446600 100%); }

/* platform icons and images */
.platform {
  float: left;
  width: 19%;
  margin-right: 1%;
  text-align: right; }
  .platform ul {
    margin-top: 6px;
    padding: 0px; }
  .platform li {
    list-style: none;
    display: inline;
    float: left;
    margin-right: 5px;
    opacity: 0.5; }

.platform-featured-game {
  margin: 0 auto;
  width: 190px;
  margin-right: 1%;
  text-align: center; }
  .platform-featured-game ul {
    margin-top: 6px;
    padding: 0px; }
  .platform-featured-game li {
    list-style: none;
    display: inline;
    float: left;
    margin-right: 5px;
    opacity: 0.5; }

.steam {
  background: url("../images/platform/steam.svg") no-repeat; }

.drm {
  background: url("../images/platform/drm.svg") no-repeat; }

.windows {
  background: url("../images/platform/windows.svg") no-repeat; }

.mac {
  background: url("../images/platform/mac.svg") no-repeat; }

.android {
  background: url("../images/platform/android.svg") no-repeat; }

.linux {
  background: url("../images/platform/linux.svg") no-repeat; }

.question {
  background: url("../images/platform/question.svg") no-repeat; }

.steam-white {
  background: url("../images/platform/steam-white.svg") no-repeat; }

.drm-white {
  background: url("../images/platform/drm-white.svg") no-repeat; }

.windows-white {
  background: url("../images/platform/windows-white.svg") no-repeat; }

.mac-white {
  background: url("../images/platform/mac.svg-white") no-repeat; }

.android-white {
  background: url("../images/platform/android.svg-white") no-repeat; }

.steam, .drm, .windows, .mac, .android, .linux, .question, .steam-white, .drm-white, .windows-white, .mac-white, .android-white {
  width: 30px;
  height: 20px; }

.sidebar {
  margin-top: 45px; }
  .sidebar:first-child {
    margin-top: 0px; }
  .sidebar h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: .8em;
    color: #999; }

.searchbox {
  background: #fff;
  border: 1px solid #999;
  border-radius: 7px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
  padding: 7px 30px 7px 7px;
  font-size: 14px;
  color: #B3B3B3;
  display: block;
  width: 85%; }

.clear-button {
  position: relative;
  border: 0;
  right: -208;
  top: -33;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: url("../images/closebutton.svg") no-repeat center center;
  width: 32px;
  height: 32px;
  background-size: 14px 14px; }

.sidebar-sort-by ul, .sidebar-platform ul {
  margin-left: -40px;
  width: 85%; }
  .sidebar-sort-by ul li, .sidebar-platform ul li {
    list-style: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: .8em;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 10px;
    text-align: left; }
    .sidebar-sort-by ul li a, .sidebar-platform ul li a {
      color: #999;
      text-decoration: none; }
    .sidebar-sort-by ul li a:hover, .sidebar-platform ul li a:hover {
      color: #999;
      text-decoration: none; }
    .sidebar-sort-by ul li .selected, .sidebar-platform ul li .selected {
      background: #c0c0c0; }
    .sidebar-sort-by ul li .selectedLink, .sidebar-platform ul li .selectedLink {
      color: #000;
      text-decoration: none; }
    .sidebar-sort-by ul li .sidebarLink, .sidebar-platform ul li .sidebarLink {
      padding-left: 30px; }

.footer {
  text-align: center; }
  .footer a {
    color: #999;
    font-weight: bold;
    font-size: .9em; }
  .footer a:hover {
    color: #999;
    font-weight: bold;
    font-size: .9em; }
  .footer ul {
    padding: 0 0 0 0.5em;
    margin: 0 auto;
    width: auto; }
  .footer li {
    margin-right: 0.1em;
    display: inline;
    font: .875em "source-sans-pro","Helvetica Neue",sans-serif;
    color: #aaa; }
    .footer li:before {
      content: " ";
      display: table;
      color: #aaa;
      content: '•';
      margin: 0 5px 0 0;
      display: inline-block;
      -webkit-transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      font: .875em "source-sans-pro","Helvetica Neue",sans-serif;
      font-weight: bold; }
  .footer li:first-child:before {
    content: " ";
    display: table; }

.game {
  cursor: pointer; }

.game-descr {
  width: 100%; }
  .game-descr .youtube-video {
    width: 100%;
    float: left;
    margin-top: 10px; }
  .game-descr .selected-game-info {
    width: 100%;
    float: left;
    margin-top: 15px; }
    .game-descr .selected-game-info .description {
      float: left;
      width: 60%;
      line-height: 18px;
      max-height: 200px;
      overflow: auto; }
      .game-descr .selected-game-info .description p {
        font-size: .8em;
        margin: 0 0 10px 0;
        padding: 0; }
    .game-descr .selected-game-info .detailes {
      float: left;
      width: 34%;
      margin-left: 30px; }
      .game-descr .selected-game-info .detailes h2 {
        text-transform: uppercase;
        color: #999;
        font-size: .6em;
        font-weight: normal;
        margin: 0 0 7px 0; }
      .game-descr .selected-game-info .detailes a {
        color: #000;
        padding-left: 10px;
        font-size: .8em; }
      .game-descr .selected-game-info .detailes a:hover {
        color: #000;
        padding-left: 10px;
        font-size: .8em; }
      .game-descr .selected-game-info .detailes .section {
        margin-bottom: 15px; }

.game-div {
  background: #000; }

#game-1, #game-2, #game-3, #game-4, #game-5, #game-6, #game-7, #game-8, #game-9, #game-10, #game-11, #game-12, #game-13, #game-14, #game-15, #game-16, #game-17 {
  display: none; }

#featured-game-1 {
  height: 189px;
  background: url("../images/games/medium/6.jpg") no-repeat;
  border: 1px solid #c0c0c0; }
  #featured-game-1 .featuredPrice {
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    margin: -44px 0 0 210px;
    border-radius: 3px;
    padding: 6px 7px;
    white-space: nowrap;
    background: #690;
    background: -moz-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88cc00), color-stop(100%, #446600));
    background: -webkit-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -o-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -ms-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: linear-gradient(top, #88cc00 0%, #446600 100%); }

#featured-game-1-descr {
  display: block;
  height: 189px;
  background: #000;
  opacity: 0.1; }

#featured-game-2 {
  height: 189px;
  background: url("../images/games/medium/7.jpg") no-repeat;
  border: 1px solid #c0c0c0; }
  #featured-game-2 .featuredPrice {
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    margin: 145px 0 0 210px;
    border-radius: 3px;
    padding: 6px 7px;
    white-space: nowrap;
    background: #690;
    background: -moz-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88cc00), color-stop(100%, #446600));
    background: -webkit-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -o-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -ms-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: linear-gradient(top, #88cc00 0%, #446600 100%); }

#featured-game-2-descr {
  display: none;
  height: 189px;
  background: #000;
  opacity: 0.1; }

#featured-game-3 {
  height: 189px;
  background: url("../images/games/medium/8.jpg") no-repeat;
  border: 1px solid #c0c0c0; }
  #featured-game-3 .featuredPrice {
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    margin: 145px 0 0 210px;
    border-radius: 3px;
    padding: 6px 7px;
    white-space: nowrap;
    background: #690;
    background: -moz-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88cc00), color-stop(100%, #446600));
    background: -webkit-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -o-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -ms-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: linear-gradient(top, #88cc00 0%, #446600 100%); }

#featured-game-3-descr {
  display: none;
  height: 189px;
  background: #000;
  opacity: 0.1; }

#featured-game-4 {
  height: 189px;
  background: url("../images/games/medium/9.jpg") no-repeat;
  border: 1px solid #c0c0c0; }
  #featured-game-4 .featuredPrice {
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    margin: 145px 0 0 210px;
    border-radius: 3px;
    padding: 6px 7px;
    white-space: nowrap;
    background: #690;
    background: -moz-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88cc00), color-stop(100%, #446600));
    background: -webkit-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -o-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -ms-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: linear-gradient(top, #88cc00 0%, #446600 100%); }

#featured-game-4-descr {
  display: none;
  height: 189px;
  background: #000;
  opacity: 0.1; }

#featured-game-5 {
  height: 189px;
  background: url("../images/games/medium/10.jpg") no-repeat;
  border: 1px solid #c0c0c0; }
  #featured-game-5 .featuredPrice {
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    margin: 145px 0 0 210px;
    border-radius: 3px;
    padding: 6px 7px;
    white-space: nowrap;
    background: #690;
    background: -moz-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88cc00), color-stop(100%, #446600));
    background: -webkit-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -o-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -ms-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: linear-gradient(top, #88cc00 0%, #446600 100%); }

#featured-game-5-descr {
  display: none;
  height: 189px;
  background: #000;
  opacity: 0.1; }

#featured-game-6 {
  height: 189px;
  background: url("../images/games/medium/11.jpg") no-repeat;
  border: 1px solid #c0c0c0; }
  #featured-game-6 .featuredPrice {
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    margin: -44px 0 0 210px;
    border-radius: 3px;
    padding: 6px 7px;
    white-space: nowrap;
    background: #690;
    background: -moz-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88cc00), color-stop(100%, #446600));
    background: -webkit-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -o-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: -ms-linear-gradient(top, #88cc00 0%, #446600 100%);
    background: linear-gradient(top, #88cc00 0%, #446600 100%); }

#featured-game-6-descr {
  padding-top: 20px;
  display: block;
  height: 169px;
  background: #000;
  opacity: 0.8;
  text-align: center;
  color: #fff;
  font-size: 1.2em; }
  #featured-game-6-descr a {
    font-size: .6em;
    color: #fff;
    text-decoration: underline; }
  #featured-game-6-descr a:hover {
    font-size: .6em;
    color: #fff;
    text-decoration: underline; }

.shopping-cart {
  position: fixed;
  z-index: 60;
  top: 114px;
  right: 0px;
  height: 25px;
  width: 170px;
  background: url("../images/cart.svg") no-repeat center left #dddddd;
  paddin-left: 15px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 2px solid #171a1c;
  border-left: 2px solid #171a1c;
  border-bottom: 2px solid #171a1c; }
  .shopping-cart h2 {
    font-size: .9em;
    margin: 0;
    padding: 5px 0 5px 33px; }

.eachGameLine {
  margin-bottom: 10px;
  overflow: hidden;
  padding: 1px; }
